.pageHeader {
  position: sticky;
  top: 0;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.searchForm {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blueviolet;
  padding: 8px;
  margin-bottom: 12px;
}

.searchField {
  width: 300px;
  height: 34px;
  border: none;
  border-radius: 0 4px 4px 0;
  background-color: #fafafa;
  padding: 8px;
  margin-left: 0;
  outline: none;
}

.searchField::placeholder {
  background-color: #fafafa;
}

.searchBtn {
  height: 34px;
  border-width: 0;
  border-radius: 4px 0 0 4px;
  background-color: #fafafa;
  margin-right: 0;
}
